[flake8]
# flake8 and black compatibility
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#minimal-configuration
max-line-length = 88
# E203, E701, - black compatibility
# RST201, RST203, RST301 - Google Python Style docstrings cause errors
extend-ignore = E203,E701,RST201,RST203,RST301,
# exclude directories
exclude =
    tests,
    .github,
    .vscode,
    docs,
    docsrc,
    temp,
    ./build
# plugins to use
require-plugin=
    falke8-rst-docstrings